/* =======================================================================
    Footer
=========================================================================== */

footer {
    @extend %clearfix;
    background: url('../img/bg_footer.jpg');

    .copyright {
        padding: 1em;
        text-align: center;
        @include font-size(.75);

        @include bp-xl {
            width: 66%;
            float: left;
            padding: 3em 2em 3em 4em;
            text-align: left;
            @include font-size(1);
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                display: inline-block;
                line-height: 1em;
                color: #fff;
                padding: 0 1em;
                border-left: 1px solid #fff;

                &:first-child {
                    border-left: none;
                    padding-left: 0;
                }
            }
        }
    }

    .contact {
        padding: 1em 1em 1.25em;
        text-align: center;
        background: rgba(0, 0, 0, .3);
        transition: background .4s;

        @include bp-xl {
            width: 33%;
            float: right;
            padding: 3em 4em 3em 2em;
            text-align: left;
        }

        &:hover {
            background: rgba(0, 0, 0, .5);
        }

        a {
            @include font-size(1, 1);
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #fff;

            @include bp-xxl {
                @include font-size(1.25, 1.25);
            }

            &::before {
                content: "";
                position: relative;
                top: 6px;
                display: inline-block;
                width: 42px;
                height: 26px;
                margin-right: 1em;
                background: url('../img/i_envelope.png');
            }
        }
    }
}
