/* =======================================================================
Home Page Styles
=========================================================================== */

.main {
    background-image: url('../img/bg_hero-2.jpg');
}

/* About Block --------------------------------------------------------- */

.about {
    @extend %clearfix;

    h2 {

        @include bp-m {
            @include font-size(3.25, 3.75);
        }
    }

    .about-feature {
        padding: 8em 5em;
        background: url('../img/bg_mission.jpg');

        @include bp-l {
            float: right;
            width: 50%;
            height: 700px;
        }
    }

    .about-small {
        padding: 3em 5em;
        background: url('../img/bg_projects.jpg');
        background-size: cover;

        @include bp-l {
            float: left;
            clear: left;
            width: 50%;
            height: 350px;
        }

        &:nth-child(even) {
            background-image: url('../img/bg_site-control.jpg');
        }

        .button {
            float: right;
        }
    }
}

/* Feature Blocks ------------------------------------------------------ */

.feature-block {
    padding: 8em 4em;
    background: url('../img/bg_geo-environmental.jpg');
    background-size: cover;

    h1 {
        @include font-size(3.25, 3.75);
    }

    .links {
        margin: 2em 0 0;
        padding: 0;
        list-style-type: none;

        li {
            display: inline-block;
            padding: 0 1em;
            border-left: 1px solid #fff;

            &:first-child {
                padding-left: 0;
                border: none;
            }

            a {
                text-decoration: none;
                text-transform: uppercase;
                color: #fff;
                @include font-size(1.125);
                letter-spacing: 1px;

                &:hover {
                    color: #07aaff;
                    text-decoration: underline;
                }
            }
        }
    }
}
