/* =======================================================================
Splash Page
=========================================================================== */

.service-page {

    h2 {
        position: relative;
        line-height: 1.25em;
        margin-bottom: 2em;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -20px;
            display: block;
            width: 40px;
            height: 4px;
            background: $accent;
        }

        @include bp-xl {
            float: left;
            width: 25%;
        }
    }

    .service-list {
        @extend %clearfix;

        h3 {

            &::after {
                content: none;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            @include bp-xl {
                float: right;
                width: 70%;
            }

            li {
                margin-bottom: 1.5em;
                padding-bottom: 1.5em;
                border-bottom: 1px solid #cdcdcd;

                @include bp-xl {
                    float: left;
                    width: 45%;

                    &:nth-child(odd) {
                        margin-right: 5%;
                    }

                    &:nth-last-child(2), &:last-child {
                        border: none;
                    }
                }
            }

            a {
                color: #07aaff;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    color: #03476a;
                }
            }
        }
    }
}

/* Slider --------------------------------------------------------------- */

.slider {
    margin: 0 0 1em;
    color: #fff;
    border-radius: 0;
    border: none;

    .slides > li {
        position: relative;
        background: url('../img/bg_hero-2.jpg');
        background-size: cover;
    }

    .content {
        margin: 2em 1em;

        @include bp-m {
            margin: 2em 12%;
        }

        @include bp-xl {
            margin: 4em 15%;
        }

        h2 {
            @include font-size(2, 2.5);

            @include bp-l {
                @include font-size(3.75, 3.75);
            }
        }
    }

    .flex-direction-nav {
        display: none;
        position: absolute;
        top: 50%;
        width: 100%;

        @include bp-m {
            display: block;
        }

        a {
            text-shadow: none;
            width: 35px;
            height: 64px;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;

            &::before {
                content: "";
            }
        }

        .flex-nav-prev a {
            background: url('../img/i_slider-prev.png');
        }

        .flex-nav-next a {
            background: url('../img/i_slider-next.png');
        }
    }

    .flex-control-nav {
        z-index: 7;
        margin: 0 0 1.5em;
        bottom: -60px;

        @include bp-m {
            display: none;
        }
    }
}

@include bp-xl {
    .flexslider:hover .flex-direction-nav {

        .flex-prev {
            left: 55px;
        }

        .flex-next {
            right: 55px;
        }
    }
}


/* Content Block -------------------------------------------------------- */

.content-block {
    @extend %clearfix;

    h2 {
        position: relative;
        line-height: 1.25em;
        margin-bottom: 2em;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -20px;
            display: block;
            width: 40px;
            height: 4px;
            background: $accent;
        }

        @include bp-xl {
            float: left;
            width: 25%;
        }
    }

    .content {

        @include bp-xl {
            float: right;
            width: 70%;
        }
    }
}

/* Service Features ------------------------------------------------------- */

.service-feature {
    @extend %clearfix;
    position: relative;
    background: rgba(0, 0, 0, .1);
    overflow: hidden;

    .content {
        padding: 2em 1em;

        @include bp-xl {
            float: left;
            width: 50%;
            padding: 4em;
        }

        &.flip {

            @include bp-xl {
                float: right;
            }
        }

        h3, p {
            color: #4b4943;

            &::after {
                content: none;
            }
        }

        h3 {
            margin-top: 0;
            text-transform: none;
            font-weight: 400;

            @include bp-xl {
                @include font-size(2.5, 2.75);
            }
        }
    }

    img {

        @include bp-xl {
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
        }

        &.flip {

            @include bp-xl {
                left: 0;
                right: auto;
            }
        }
    }
}
